In [43]:
# map()

plur = [1,6,4,54,87,33,22,-33,53,-11,2,-3]

def calc(a):
    return a * 2
        
mapped = map(calc,plur)

print(*mapped)

2 12 8 108 174 66 44 -66 106 -22 4 -6

In [16]:
# zip

# one = [i for i in range(1,9)]
# two = [y for y in range(1,9)]

# zipped = zip(one,two)

# print(*zipped)

(1, 40)

In [13]:
def ff(v):
    if v > 50:
        return True
    elif v < 50:
        return False


f_arr = [i for i in range(29,78) if i >= 66]

for it in filter(lambda x: x >= 66,arr):
    print(it)

f_arr

66
67
68
69
70
71
72
73
74
75
76
77

[66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77]

In [8]:
ff = filter(lambda x: x % 2 == 0, list(range(1,20)))

print(*ff)


foo = map(lambda i: i * 2, list(range(11,22)))

print(*foo)

2 4 6 8 10 12 14 16 18
22 24 26 28 30 32 34 36 38 40 42

In [13]:
rng = list(range(0,25,5))

print(*rng)

import itertools


ff = itertools.count(2,2)

for i in ff:
    print(i)
    if i > 50:
        break

0 5 10 15 20
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52

In [ ]:
import itertools

lst = ['one','two','three']

boo = itertools.cycle(lst)

for it in range